@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  scroll-behavior: smooth;
}

.dfa{
  background-image: url(./assets/images/png/unicelayer.png);
}
@font-face {
  font-family: "recharge";
  src: url('./fonts/recharge_bd.ttf');
}
@font-face {
  font-family: "neuropolitical";
  src: url('./fonts/neuropolitical rg.otf');
}

.block .slick-list {
  /* overflow: visible !important; */
  position: relative;
  z-index: 1;

}
.slider3 .slick-list{
   overflow: visible !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  width: 370px !important;
}

.slick-slide>div {
  display: flex;
}

.my-scroll-bar::-webkit-scrollbar{
  display: none;
}

.start_btn:hover {
  animation: pulsegardiant 1s;
  box-shadow: 0 0 0 0.7em transparent;
  background: #02CDCF;
}

@keyframes pulsegardiant {
  0% {
      box-shadow: 0 0 #02CDCF;
  }
}
